@import '../../../styles/variables.scss';

.projects {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.project {

}

.project__site {
	margin-top: .4rem;
	margin-bottom: .8rem;
}

.project__technologies {
	display: flex;
	gap: 1rem;
	margin-top: 1.2rem;
}

.project__type-sticker {
	display: inline-flex;
	font-size: 1.4rem;
	line-height: 2rem;
	color: white;
	padding: 0 .6rem;
	border-radius: .4rem;
	margin-bottom: 0.4rem;

	&--client {
		background-color: $warmColor-3;
	}

	&--server {
		background-color: $blueColor-2;
	}

	&--both {
		background: linear-gradient(90deg, $warmColor-3 0%, $blueColor-2);
	}
}


