@import '../../../styles/variables.scss';

.projects {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.project {

}

.project__site {
	margin-top: .4rem;
	margin-bottom: .8rem;
}

.project__technologies {
	display: flex;
	gap: 1rem;
	margin-top: 1.2rem;
}


