@import 'mixins';

$grayColor-1: #f9f8f4;
$grayColor-4: #666669;
$textColor: rgb(30, 30, 30);
$blueColor-1: #d8eeff;
$blueColor-2: #0061b6;

$tablet-width: 550px;
$monitor-width: 1000px;

$radius-1: 4px;
$radius-2: 1rem;

$leftCell: 15rem;
$sectionsGapWidth: 1rem;

