@import '../../../styles/variables.scss';

.head {
	display: flex;
	flex-direction: column;
	gap: $sectionsGapWidth;

	@include container-width($tablet-width) {
		flex-direction: row;
	}
}

.head__left-site {
	@include container-width($tablet-width) {
		width: $leftCell;
	}
}

.head__author-photo {
	width: calc($leftCell - 5rem);
	overflow: hidden;
	margin: auto;
	border-radius: 50%;
}

.head__name {
	font-size: 3rem;
	line-height: 3.8rem;
	font-weight: 600;
	margin-top: .4rem;
}

.head__right-site {
}

.head__position {
	font-size: 2rem;
	line-height: 2.8rem;
	font-weight: 600;
}

.head__details {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 1rem;
}