@import '../../../styles/variables.scss';

.experience {

}

.experience__items {
	display: flex;
	flex-direction: column;
	gap: 4.4rem;
}

.experience__item {
	display: flex;
	flex-direction: column;
	gap: .5rem;

	@include container-width($tablet-width) {
		flex-direction: row;
		gap: $sectionsGapWidth;
	}
}

.experience__item-left {
	@include container-width($tablet-width) {
		width: $leftCell;
	}
}

.experience__time {
	display: flex;
	flex-direction: row;
	gap: .2rem;
	font-size: 1.4rem;
	font-weight: 500;

	@include container-width($tablet-width) {
		flex-direction: column;
	}
}

.experience__duration {
	font-size: 1.4rem;
	margin-top: .2rem;
}

.experience__item-content {
	flex: 1;
}

.experience__company-name {
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 600;
	margin-top: 0.2rem;
}

.experience__company-site {
	position: relative;
	margin-top: 0.4rem;
}

.experience__position {
	font-size: 2.2rem;
	line-height: 2.8rem;
	font-weight: 500;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

.experience__technologies {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin-top: 1.2rem;
}

.experience__achievements {
	margin-top: 1.6rem;
}

.experience__achievements-header {
	font-size: 1.4rem;
	line-height: 2rem;
	color: $grayColor-4;
	font-weight: 600;
}

.experience__achievements-list {
	display: flex;
	flex-direction: column;
	gap: .2rem;
	padding-left: 2.6rem;
	margin-top: .2rem;
}

.experience__achievement {
	font-size: 1.4rem;
	line-height: 2rem;
	list-style: disc;
}
