@import '../../../../styles/variables.scss';

.header {
	&--h2 {
		font-size: 3.6rem;
		line-height: 4.2rem;
		font-weight: 700;
		color: $warmColor-3;
		margin-bottom: 2rem;
	}

	&--h3 {
		font-size: 2.2rem;
		line-height: 2.8rem;
		font-weight: 600;
		margin-bottom: .2rem;
	}
}
